h1 {
    font-size: 32px;
}

h3 {
    font-size: 20px;
}
.post-title {
    padding-top: 24px;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    padding: 12px 0 32px 0;
}

.tag-button {
    width: 50px;
    height: 25px;
    background-color: #151515;
    color: #fafafa;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    border-radius: 4px;
}
